.input-container1 {
  width: 480px;
  height: 50px;
}
#num1,
#num2 {
  width: 200px;
  height: 40px;
  margin-left: 100px;
}
.input-container2 {
  width: 500px;
  height: 50px;
}
.addition {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  padding-top: 80px;
}

#submit {
  width: 100px;
  height: 30px;
  margin-left: 20px;
}

#result1 {
  margin-left: -1000px;
}
#result2 {
  margin-left: -1030px;
}
