.logo {
  margin-right: 1rem; /* Adjust margin for logo */
}

.nav-link {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  color: #ffffff; /* White color for navigation links */
  transition: all 0.3s ease; /* Transition effect for hover */
}

.nav-link:hover {
  /* Change color on hover */
  background-color: #280cde;
  border-radius: 2px;
  box-sizing: border-box;
}
